* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

.head-wrap {
  background-color: white;
  display: flex;
  justify-content: space-between;
  height: 20vh;
}

.nav-wrap {
  display: flex;
  flex-direction: row;
}

.logoBox {
  background-color: white;
  margin-left: 3vw;
  margin-top: 3vh;
}

.logo {
  width: 15vw;
  height: 15vh;
}

.navBox {
  display: flex;
}

.navbar {
  list-style: none;
  width: 53vw;
  margin: auto;
  margin-left: 12vh;
  margin-top: 8vh;
}

.navul {
  list-style-type: none;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navli {
  font-size: 2.5vh;
  text-align: center;
}

a.Alink-nav:link,
a.Alink-nav:visited {
  color: black;
  text-decoration: none;
  font-style: normal;
}

a.Alink-nav:hover:not(.active) {
  color: black;
  font-style: oblique;
}

a.Alink-nav:active,
.active {
  color: #d62828;
  font-style: oblique;
  text-decoration: none;
}

.loginBox {
  width: 20vh;
  margin-left: 25vh;
}

a#loginButton:link,
a#loginButton:visited {
  background-color: #b22121;
  color: white;
  text-decoration: none;
  display: inline-block;
  font-size: 2.4vh;
  font-style: normal;
  border-radius: 1.2rem;
  width: 8.5vw;
  height: 7vh;
  border: none;
  text-align: center;
  margin-top: 4.8vh;
  padding-top: 1.5vh;
}

a#loginButton:hover,
a#loginButton:active {
  background-color: #8f1b1b;
  color: white;
  font-style: oblique;
}

.barsiconBox {
  display: flex;
  justify-content: space-between;
  width: 8vw;
  margin-right: 3rem;
}

.barsicon {
  display: none;
}

.fa-solid {
  color: black;
  font-size: 6vh;
}

.provider-hero {
  height: 80vh;
  background-color: #4567b7;
  display: flex;
  flex-direction: row;
  background-color: white;
}

.hero-wrap {
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 50vh;
  margin-top: 10vh;
}

.head-txtBox {
  margin: auto;
  width: 50vw;
  height: 20vh;
  text-align: center;
  z-index: 4;
}

h1 {
  color: black;
  font-size: 6vh;
  font-style: normal;
  line-height: 7vh;
  text-align: center;
  font-weight: 500;
}

.heroYellow {
  color: #ffc300;
  font-size: 7vh;
  font-weight: 600;
  font-style: oblique;
  text-shadow: 1px 2px 5px #4567b7;
}

.introObl {
  font-size: 8vh;
  font-style: oblique;
  font-weight: 600;
  letter-spacing: 0.4vw;
}

.pButtonBox {
  margin: auto;
  margin-top: 4vh;
}

a.proButton:link,
a.proButton:visited {
  border: none;
  background-color: #4567b7;
  border-radius: 10px;
  height: 8vh;
  width: 14vw;
  margin-top: 1vh;
  z-index: 3;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  text-align: center;
  font-size: 2.7vh;
  font-style: normal;
  border-radius: 1.2rem;
  color: white;
  padding-left: 2vw;
  padding-top: 2vh;
}

a.proButton:hover,
a.proButton:active {
  border: 2px solid #ffc300;
  background-color: white;
  color: black;
  width: 15vw;
  height: 8.2vh;
  transition: ease-out 0.5s;
  transition-delay: 0s;
  padding-left: 2vw;
}

.proIcon {
  width: 2vw;
  height: 4.4vh;
  margin-left: 1vh;
}

.para-txtBox {
  width: 78vw;
  margin: auto;
}

.paraHeader {
  color: black;
  font-size: 4vh;
  font-style: normal;
  line-height: 7vh;
  text-align: center;
}

.youtube {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: white;
}

/*
.yellow-background {
  border: 2px solid #ffc300;
  background-color: #ffc300;
  width: 70vw;
  height: 62vh;
  z-index: 0;
} */

.img-background {
  background-image: url("Images/image 5.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 1009px;
  height: 450px;
  z-index: 1;
  margin: auto;
  display: inline-block;
}

.watch-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 66vw;
  margin: auto;
  margin-top: 2vh;
}

.watch-wrapTxt {
  margin: 2vh;
}

.watchTxt {
  font-size: 3vh;
  color: white;
  font-weight: 300;
}

.wwTyellow {
  color: #ffc300;
  font-style: oblique;
  font-weight: 600;
  letter-spacing: 0.3rem;
}

.watchIcons {
  width: 10vw;
  height: 12vh;
  display: flex;
  justify-content: space-between;
}

.watchIcon {
  height: 45px;
}

.y_logo {
  margin: auto;
  display: flex;
  width: 7vw;
  margin-top: 17vh;
}

.ytIcon {
  width: 80px;
  height: 80px;
}

.how-to {
  height: 100vh;
  background-color: #ffc300;
  /* background-image: url("Images/Blue\ and\ Pink\ Vibrant\ Simple\ Modern\ Branding\ Guidelines\ Presentation\ -\ 21.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: 30%;
  background-position-y: 45%;
  background-size: 100%;
  background-origin: padding-box;
  z-index: 0;
  object-fit: cover;
  object-position: 100% 100%;*/
}

.how-to-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.how-to-text {
  width: 40vw;
  height: 70vh;
  padding: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 10vh;
}

.hired-minHeading {
  color: #d62828;
  font-size: 5vh;
  font-style: normal;
}

.hired-maxHeading {
  color: #4567b7;
  font-size: 7vh;
  font-style: normal;
  text-align: left;
  line-height: 7vh;
  height: 26vh;
}

.how_to-write-up {
  width: 30vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: -10vh;
}

.introObl {
  font-style: oblique;
  font-weight: 700;
}

.introYellow {
  color: white;
  font-weight: 600;
  font-style: oblique;
  text-shadow: 1px 2px 5px black;
}

.create,
.take,
.receive,
.project {
  font-size: 3.3vh;
  font-weight: 500;
  text-align: justify;
  color: rgba(76, 76, 76, 0.881);
}

.current {
  color: black;
  font-size: 4vh;
  font-weight: 600;
}

.how_to-img {
  margin-top: 23.1vh;
}

.phoneimg {
  width: 420px;
  height: 450px;
}

.experience {
  height: 100vh;
  background-color: white;
  /*
  background-image: url("Images/Blue\ and\ Pink\ Vibrant\ Simple\ Modern\ Branding\ Guidelines\ Presentation\ -\ 27.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position-x: 30%;
  background-position-y: 90%;
  background-size: 100%;
  background-origin: padding-box;
  z-index: 0;
  object-fit: cover;
  object-position: 100% 100%;
  */
}

.expHeading {
  margin: auto;
  width: 180vh;
  line-height: 9vh;
  text-align: center;
  padding-top: 6vh;
  padding-bottom: 4vh;
  font-size: 4.8vh;
}

.expSpan {
  color: #ffc300;
  font-size: 7vh;
  text-shadow: 1px 2px 5px black;
  letter-spacing: 0.3rem;
}

.experience-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.review {
  height: 55vh;
  width: 30vw;
  background-color: white;
  border-radius: 2vh;
  border: 1px solid #4567b7;
}

.review:hover {
  height: 57vh;
  width: 33vw;
  transition: ease-in-out 0.5s;
  background-color: #ffc300;
  border-radius: 2vh;
  box-shadow: 1px 2px 5px black;
  margin: auto;
  border: none;
}

.reviewBio {
  width: 15vw;
  height: 40vh;
  margin: auto;
}

.cusImg {
  width: 88px;
  height: 90px;
  margin-left: 3.3vw;
  margin-top: 2vh;
}

.review-name {
  font-size: 3.8vh;
  text-align: center;
  font-weight: 300;
  padding-top: 2vh;
}

.review-status {
  font-size: 3vh;
  text-align: center;
  font-weight: 600;
  font-style: oblique;
  margin-top: 1vh;
}

.reviewText {
  width: 27vw;
  margin: auto;
  margin-top: -7vh;
}

.review-para {
  font-size: 2.8vh;
  line-height: 4vh;
  text-align: center;
}

.stand-out {
  height: 50vh;
  background-color: #4567b7;
  /* background-color: #344c86; */
}

.stand-out-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 88vw;
  margin: auto;
  margin-top: 0vh;
}

.stand-out-text {
  margin-top: 10vh;
}

.stand-out-Heading {
  font-size: 4vh;
  line-height: 4vh;
  color: white;
  font-weight: 300;
  margin-bottom: 7vh;
}

a.proButton2:link,
a.proButton2:visited {
  border: none;
  background-color: white;
  border-radius: 10px;
  height: 8vh;
  width: 14vw;
  margin-top: 1vh;
  z-index: 3;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  text-align: center;
  font-size: 2.5vh;
  font-style: normal;
  border-radius: 1.2rem;
  color: #4567b7;
  padding-left: 2vw;
  padding-top: 2vh;
}

a.proButton2:hover,
a.proButton2:active {
  border: 2px solid #ffc300;
  background-color: white;
  color: black;
  width: 15vw;
  height: 8.2vh;
  transition: ease-out 0.5s;
  transition-delay: 0s;
  padding-left: 2vw;
}

.stand-out-img {
  margin-top: 8vh;
}

.footerLogo {
  width: 360px;
  height: 180px;
}

footer {
  background-color: #4567b7;
  height: 107vh;
}

.line-up {
  height: 70vh;
  display: flex;
  justify-content: center;
}

.footer-nav {
  display: flex;
  flex-direction: row;
  height: 70vh;
  width: 87vw;
  margin: auto;
  justify-content: space-between;
  padding: 6vh;
  border-top: 1.88px solid white;
  border-bottom: 1.88px solid white;
}

.company,
.services,
.support {
  width: 18vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
}

.legal {
  width: 25vw;
  height: 50vh;
}

.footerHeading {
  color: white;
  font-style: oblique;
  font-size: 3.8vh;
  letter-spacing: 0.3rem;
  text-shadow: 1px 2px 5px black;
}

.footul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 2vh;
  line-height: 8vh;
}

.footli {
  font-size: 2.8vh;
  text-align: left;
}

a.Alink-foot:link,
a.Alink-foot:visited {
  color: white;
  text-decoration: none;
  font-style: normal;
  letter-spacing: 0.1rem;
}

a.Alink-foot:hover,
a.Alink-foot:active {
  color: white;
  font-style: oblique;
  letter-spacing: 0.1rem;
  text-shadow: 1px 2px 5px black;
}

a.Alink-emailnum:link,
a.Alink-emailnum:visited {
  color: white;
  text-decoration: none;
  font-style: normal;
  letter-spacing: 0.1rem;
  font-size: 2.8vh;
  text-align: left;
  padding-bottom: 3vh;
  padding-top: 4vh;
}

a.Alink-emailnum:hover,
a.Alink-emailnum:active {
  color: #ffc300;
  font-style: oblique;
  text-shadow: 1px 2px 5px #d62828;
}

.paraTeam8 {
  font-size: 2.8vh;
  text-align: left;
  color: white;
  text-decoration: none;
  font-style: normal;
  padding-top: 5vh;
  letter-spacing: 0.1rem;
}

.line-down {
  width: 98vw;
  height: 30vh;
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: space-evenly;
}

.logo-text {
  width: 18vw;
  margin-top: 8vh;
}

.wkhLogo {
  width: 230px;
  height: 110px;
}

.copyright {
  display: flex;
  flex-direction: row;
  height: 5vh;
  width: 22vw;
  margin-top: 24vh;
  justify-content: space-evenly;
}

.copyrightIcon {
  width: 24px;
  height: 24px;
  display: inline-block;
}

.pRRtextbox {
  display: inline-block;
  height: 6vh;
  width: 22vw;
  margin-left: 1vw;
}

.rightsreservedtext {
  color: white;
  font-size: 2.2vh;
}

.socials {
  display: flex;
  flex-direction: row;
  height: 10vh;
  width: 20vw;
  margin-top: 14vh;
  justify-content: space-between;
}

.fa-brands {
  color: white;
  height: 30px;
}
