@media (max-width: 932px),
(max-width: 850px),
(max-width: 600px),
(max-width: 412px),
(max-width: 390px),
(max-width: 375px),
(max-width: 360px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    font-size: 45%;
  }

  body {
    font-family: "Poppins", sans-serif;
  }

  .head-wrap {
    background-color: white;
    display: flex;
    justify-content: space-between;
    height: 18vh;
    width: 100%;
  }

  .nav-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    height: 18vh;
  }

  .navBox {
    display: none;
  }

  .logoBox {
    background-color: white;
    width: 36vw;
    height: 16vh;
    padding-left: 2vh;
    margin-top: 5vh;
  }

  .logo {
    width: 25vw;
    height: 11vh;
  }

  .navbar {
    list-style: none;
    display: none;
  }

  .navbar:hover,
  .navul:hover {
    display: flex;
  }

  .navul {
    list-style-type: none;
    margin: auto;
    justify-content: space-between;
    display: none;
  }

  .navli {
    font-size: 4.6vh;
    font-weight: 500;
    text-align: center;
    display: none;
    text-decoration: none;
  }

  a.Alink-nav:link,
  a.Alink-nav:visited {
    color: black;
    text-decoration: none;
    font-style: normal;
  }

  a.Alink-nav:hover:not(.active) {
    color: black;
    font-style: oblique;
  }

  a.Alink-nav,
  .active {
    color: #d62828;
    font-style: oblique;
    text-decoration: none;
  }

  a.Alink-nav:active {
    color: #d62828;
  }

  .loginBox {
    width: 18vw;
    margin-left: 25vh;
  }

  a#loginButton:link,
  a#loginButton:visited {
    background-color: #b22121;
    color: white;
    text-decoration: none;
    display: inline-block;
    font-size: 4.4vh;
    font-weight: 500;
    font-style: normal;
    border-radius: 1.2rem;
    width: 8.5vw;
    height: 7vh;
    border: none;
    text-align: center;
    margin-top: 4.8vh;
  }

  a#loginButton:hover,
  a#loginButton:active {
    background-color: #8f1b1b;
    color: white;
    font-style: oblique;
  }

  .barsIconBox {
    display: flex;
    background-color: white;
    width: 7vw;
    height: 12vh;
    margin-right: 5vw;
    margin-top: 3vh;
  }

  .barsicon {
    display: inline-block;
    margin-top: 0vh;
    padding-top: 4vh;
  }

  .fa-solid {
    color: black;
    font-size: 5vh;
  }

  .hero {
    background-color: white;
    height: 84vh;
  }

  .hero-div-wrap {
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: space-between;
  }

  .hero-text {
    width: 85vw;
    height: 48vh;
    align-items: center;
    margin-top: -5vh;
    margin-left: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  h1 {
    color: black;
    font-size: 5.5vh;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0.2vw;
    line-height: 7vh;
  }

  .heroYellow {
    color: #ffc300;
    font-weight: 600;
    font-style: oblique;
    letter-spacing: 0.1rem;
    text-shadow: 1px 2px 5px black;
  }

  .paraHeaderBox {
    width: 85vw;
    margin: auto;
    margin-top: 2vh;
  }

  .paraHeader {
    color: black;
    font-size: 2.5vh;
    font-weight: 400;
    font-style: normal;
    line-height: 5vh;
    text-align: center;
  }

  .searchBox {
    display: flex;
    flex-direction: row;
    width: 80vw;
    height: 8vh;
    margin-left: 6vw;
    margin-top: -15vh;
  }

  .input-wrapBox {
    display: flex;
    margin-top: 15rem;
  }

  #search {
    width: 80vw;
    height: 7vh;
    display: flex;
    background-color: rgba(255, 255, 255, 0.968);
    margin: auto;
    border-radius: 6px;
    border: 0.1rem solid rgba(132, 132, 132, 0.358);
    padding-left: 5vw;
    font-size: 2.4vh;
    text-align: left;
    color: #4567b7;
    z-index: 3;
    box-shadow: 1px 2px 5px black;
  }

  .searchButton {
    border: none;
    background-color: #4567b7;
    border-radius: 6px;
    height: 5.5vh;
    width: 8vw;
    margin-left: -5.5vh;
    margin-top: 0.8vh;
    padding-left: 1vw;
    z-index: 3;
  }

  .searchButton:hover {
    border: none;
    background-color: white;
    border-radius: 6px;
    height: 5.5vh;
    width: 8vw;
    margin-left: -7.7vh;
    margin-top: 0.8vh;
  }

  .searchIcon {
    width: 4vw;
    height: 3.4vh;
  }

  .logoBack {
    z-index: 1;
    margin-left: -45vw;
    margin-top: -2vh;
  }

  .monogramHeader {
    width: 56vw;
    height: 26vh;
  }

  .intro {
    height: 180vh;
    background-color: #4567b7;
    display: flex;
    flex-direction: row;
    background-image: url("Images/bkgheader.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: 30%;
    background-position-y: 45%;
    background-size: 100%;
    background-origin: padding-box;
    z-index: 0;
    object-fit: cover;
    object-position: 100% 100%;
    margin-top: 10rem;
  }

  .intro-wrap {
    display: flex;
    flex-direction: column;
  }

  .intro-img {
    margin: auto;
    margin-left: 6rem;
    padding-top: 0;
    margin-top: 7vh;
  }

  .introImage {
    width: 400px;
    height: 400px;
  }

  .intro-textBox {
    width: 60vw;
    height: 50vh;
    z-index: 6;
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 0vh;
    margin-bottom: 5vh;
  }

  .introHeader {
    color: white;
    font-size: 8rem;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    line-height: 13vh;
    text-shadow: 1px 2px 5px black;
    margin-top: -70vh;
    margin-left: -15rem;
    letter-spacing: 0.5rem;
  }

  .introObl {
    font-style: oblique;
    font-weight: 600;
    letter-spacing: 0.4vw;
  }

  .hintroBox {
    width: 66vw;
    height: 16vh;
    display: flex;
    justify-content: space-between;
  }

  .minHeader {
    color: #d62828;
    font-weight: 300;
    font-size: 4vh;
    font-style: normal;
    text-align: center;
    margin-top: -73vh;
    padding-left: -5rem;
  }

  .introYellow {
    color: #ffc300;
    font-weight: 600;
    font-style: oblique;
    text-shadow: 1px 2px 5px black;
  }

  .pintroBox {
    width: 75vw;
    height: 57vh;
    display: flex;
    flex-direction: column;
  }

  .p-margin {
    margin-top: -80rem;
  }

  .p-mar2 {
    margin-top: -12rem;
    margin-bottom: -15rem;
  }

  .p-mar3 {
    padding-top: -10rem;
  }

  .p-mar4 {
    margin-top: -10rem;
  }

  .p1,
  .p2,
  .p3,
  .p4 {
    font-size: 2.5vh;
    text-align: left;
    color: white;
    text-shadow: 1px 2px 5px black;
    line-height: 4vh;
  }

  .artisan {
    background-image: url("Images/Blue\ and\ Pink\ Vibrant\ Simple\ Modern\ Branding\ Guidelines\ Presentation\ -\ 30.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: 30%;
    background-position-y: 45%;
    background-size: 100%;
    background-origin: padding-box;
    z-index: 0;
    object-fit: cover;
    object-position: 100% 100%;
    height: 142vh;
  }

  .artisan-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: auto;
    width: 90vw;
    height: auto;
  }

  .artisan-text {
    width: 80vw;
    height: 69vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: auto;
    margin-top: 3vh;
  }

  .artisan-heading {
    width: 72vw;
    height: 20vh;
    margin: auto;
    margin-top: -2vh;
    margin-left: -4.2vw;
  }

  .artisan-minHeading {
    color: #d62828;
    font-weight: 300;
    font-size: 3vh;
    font-style: normal;
    text-align: left;
    padding-bottom: 3rem;
  }

  .artisan-maxHeading {
    color: black;
    font-size: 6vh;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    line-height: 4vh;
    height: 15vh;
  }

  .line {
    display: inline-block;
  }

  .artisan-write-up {
    width: 78vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: -6vw;
  }

  .pStep1 {
    width: 82vw;
    margin-top: -8rem;
  }

  .request {
    font-size: 2.8vh;
    font-weight: 500;
    line-height: 4vh;
    color: rgba(76, 76, 76, 0.881);
  }

  .inspection,
  .quote,
  .project {
    font-size: 2.7vh;
    line-height: 5vh;
    font-weight: 500;
    color: rgba(76, 76, 76, 0.881);
  }

  .artisan-img {
    width: 81vw;
    height: 72.5vh;
    margin: auto;
    padding-left: 2vh;
  }

  .phoneimg {
    width: 400px;
    height: 420px;
    margin: auto;
  }

  .category {
    background-color: #ffc300;
    height: 540vh;
    width: 96.7vw;
  }

  .category-wrap {
    background-color: #ffc300;
    height: 559.9vh;
    width: 96.5vw;
    margin: auto;
  }

  .category-heading {
    color: #4567b7;
    text-align: center;
    font-size: 5vh;
    font-weight: 600;
    font-style: oblique;
  }

  .service-provider-wrap {
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 541vh;
  }

  .catrow1 {
    height: 180vh;
    width: 96.6vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ffc300;
    margin-top: -1rem;
  }

  .catrow2 {
    height: 180vh;
    width: 96.6vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ffc300;
    margin-top: -20rem;
  }

  .catrow3 {
    height: 180vh;
    width: 96.6vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ffc300;
    margin-top: -20rem;
  }

  .vul,
  .painter,
  .gardener,
  .plumber,
  .electrician,
  .welder,
  .house-keeper,
  .mechanic {
    box-shadow: 1px 2px 5px black;
    border-radius: 15px;
    margin-top: -5rem;
  }

  .vul-img,
  .pai-img,
  .gar-img,
  .car-img,
  .plu-img,
  .ele-img,
  .wel-img,
  .hou-img,
  .mec-img {
    width: 300px;
    height: 240px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  .vul-text,
  .painter-text,
  .gardener-text,
  .carpenter-text,
  .plumber-text,
  .electrician-text,
  .welder-text,
  .house-keeper-text,
  .mechanic-text {
    background-color: white;
    height: 17vh;
    padding: 3vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
  }

  .catsubHead {
    font-size: 3vh;
    font-style: normal;
    letter-spacing: 0.3rem;
  }

  a.Alink-catlink:link,
  a.Alink-catlink:visited {
    color: #d62828;
    text-decoration: none;
    display: inline-block;
    font-size: 2.5vh;
    font-weight: 300;
    font-style: normal;
    margin-bottom: 3vh;
  }

  a.Alink-catlink:hover,
  a.Alink-catlink:active {
    color: #8f1b1b;
    font-style: oblique;
  }

  .servProParaBox {
    width: 53vw;
    height: 5vh;
    margin: auto;
    margin-top: -40vh;
  }

  a.Alink-allserviceslink:link,
  a.Alink-allserviceslink:visited {
    font-size: 2.6vh;
    color: #4567b7;
    text-decoration: none;
    letter-spacing: 0.1vw;
    margin: auto;
  }

  a.Alink-allserviceslink:hover,
  a.Alink-allserviceslink:active {
    color: #d62828;
    font-style: oblique;
  }

  .experience {
    height: 215vh;
    width: 96.7vw;
    background-image: url("Images/Blue\ and\ Pink\ Vibrant\ Simple\ Modern\ Branding\ Guidelines\ Presentation\ -\ 26.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position-x: 84%;
    background-position-y: 100%;
    background-size: cover;
    background-origin: padding-box;
    z-index: 0;
    object-fit: cover;
    object-position: 100% 100%;
    display: flex;
    flex-direction: column;
  }

  .expHeadingBox {
    height: 25vh;
    width: 90vw;
    margin: auto;
    padding-top: 4vh;
  }

  .expHeading {
    margin: auto;
    text-align: center;
    font-size: 3vh;
    display: inline-block;
    width: 90vw;
    height: 20vh;
    line-height: 5vh;
    padding-bottom: 2vh;
    padding-top: 0vh;
  }

  .expSpan {
    color: #ffc300;
    font-size: 6vh;
    font-weight: 600;
    font-style: oblique;
    letter-spacing: 0.1rem;
    line-height: 5vh;
  }

  .experience-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: auto;
    width: 62vw;
    height: 180vh;
    padding-left: 1vw;
    margin-top: -5vh;
  }

  .review {
    display: flex;
    flex-direction: column;
    height: 57vh;
    width: 60vw;
    background-color: rgb(255, 254, 252);
    border: 1px solid #4567b7;
    border-radius: 3vh;
  }

  .review:hover {
    height: 60vh;
    width: 62vw;
    transition: ease-in-out 0.5s;
    background-color: #ffc300;
    border-radius: 2vh;
    box-shadow: 1px 2px 5px black;
    margin: auto;
  }

  .reviewBio {
    width: 35vw;
    height: 30.5vh;
    margin: auto;
  }

  .cusImg {
    width: 88px;
    height: 90px;
    margin-left: 7vw;
    margin-top: 2vh;
  }

  .review-name {
    font-size: 3vh;
    text-align: center;
    font-weight: 300;
  }

  .review-status {
    font-size: 2vh;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.3vw;
    font-style: oblique;
    margin-top: 1vh;
  }

  .reviewText {
    width: 50vw;
    height: 20vh;
    margin: auto;
  }

  .review-para {
    font-size: 2.2vh;
    line-height: 4vh;
    text-align: center;
    margin-top: -10rem;
  }

  .sub-wrap {
    margin: auto;
  }

  .sub {
    background-color: white;
    height: 55vh;
  }

  .subText {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 83vw;
    height: 33vh;
    margin-bottom: 5vh;
  }

  .subHeading {
    width: 67vh;
    text-align: left;
    padding-top: 2vh;
    padding-bottom: 1vh;
    font-size: 3vh;
    color: black;
  }

  .subPara {
    font-size: 2.5vh;
    text-align: center;
    line-height: 4vh;
    color: black;
    font-weight: 500;
  }

  .pHyellow {
    color: #ffc300;
    font-style: oblique;
    font-weight: 600;
    font-size: 4.5vh;
    letter-spacing: 0.1rem;
  }

  .email-wrap {
    position: relative;
    width: 80vw;
    margin: auto;
  }

  #email {
    width: 80vw;
    height: 7vh;
    display: flex;
    background-color: rgba(255, 255, 255, 0.968);
    margin: auto;
    border-radius: 7px;
    border: 0.1rem solid rgba(132, 132, 132, 0.358);
    padding-left: 2vw;
    font-size: 2.2vh;
    text-align: left;
    color: rgb(211, 211, 211);
    z-index: 0;
    box-shadow: 1px 2px 5px black;
  }

  a#subButton:link,
  a#subButton:visited {
    background-color: #b22121;
    color: white;
    text-decoration: none;
    font-size: 1.5vh;
    font-weight: 500;
    font-style: normal;
    border-radius: 0.8rem;
    width: 20vw;
    height: 5.7vh;
    border: none;
    text-align: center;
    z-index: 1;
    position: absolute;
    left: 59vw;
    padding-top: 1.8vh;
  }

  a#subButton:hover,
  a#subButton:active {
    background-color: #8f1b1b;
    color: white;
    text-decoration: none;
    font-size: 1.6vh;
    font-weight: 500;
    font-style: oblique;
    border-radius: 0.8rem;
    width: 20vw;
    height: 5.7vh;
    border: none;
    text-align: center;
    left: 59vw;
  }

  footer {
    height: 360vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #4567b7;
  }

  .mobile-app {
    display: flex;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #4567b7;
  }

  .app-img {
    margin: auto;
  }

  .nokiaPhone {
    width: 380px;
    height: 444px;
  }

  .app-text {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 7vh;
  }

  .app-textBox {
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: 18vw;
    margin-top: 4vh;
  }

  .app-textBoxHeading {
    height: 15vh;
    width: 85vw;
    margin: auto;
  }

  .appHeading {
    font-size: 3vh;
    font-weight: 500;
    color: white;
    text-align: center;
    line-height: 6vh;
    height: 12vh;
    margin-top: -6vh;
  }

  .nowRed {
    color: #d62828;
    font-weight: 600;
    font-size: 3.6vh;
    font-style: oblique;
    letter-spacing: 0.3rem;
  }

  .appSpan {
    font-size: 5vh;
    font-style: oblique;
    font-weight: 600;
    letter-spacing: 0.1vw;
    color: #ffc300;
    letter-spacing: 0.1rem;
    text-shadow: 1px 2px 5px black;
  }

  .app-textBoxPara {
    width: 70vw;
    height: 16vh;
    margin: auto;
  }

  .appPara {
    font-size: 2.5vh;
    text-align: left;
    line-height: 5vh;
    color: white;
    font-style: normal;
    font-weight: 300;
  }

  .download-app-icon {
    display: flex;
    flex-direction: row;
    height: 10vh;
    width: 83vw;
    justify-content: space-between;
    margin-top: 10vh;
  }

  .downloadGplay {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  h6 {
    color: black;
    font-size: 1.6vh;
    font-weight: 300;
    display: inline-flex;
    margin: auto;
    margin-bottom: 2.5vh;
  }

  .appIconBox {
    width: 3vw;
    height: 5vh;
    margin-left: 1vw;
    margin-top: 0.5vh;
  }

  .appIcon {
    width: 22px;
    height: 22px;
    color: white;
    margin-left: -5vw;
    margin-top: 0.5vh;
  }

  .appIcon:hover {
    width: 21px;
    height: 21px;
  }

  .downloadApp {
    text-decoration: none;
    display: flex;
    font-size: 3vh;
    font-weight: 500;
    font-style: normal;
    border-radius: 1.2rem;
    width: 40vw;
    height: 7vh;
    border: 2px solid white;
    text-align: center;
    background-color: #ffc300;
    padding: 0.5vh;
  }

  .downloadApp:hover {
    border: 2px solid black;
    background-color: white;
    width: 38vw;
    height: 7vh;
    transition: ease-out 0.7s;
    transition-delay: 0s;
  }

  .line-up {
    height: 190vh;
  }

  .footer-nav {
    display: flex;
    flex-direction: column;
    height: 190vh;
    width: 87vw;
    margin: auto;
    justify-content: space-between;
    padding: 6vh;
    border-top: 1.88px solid white;
  }

  .company,
  .services,
  .support {
    width: 50vw;
    height: 42vh;
  }

  .legal {
    width: 60vw;
    height: 42vh;
  }

  .footerHeading {
    color: white;
    font-style: oblique;
    font-weight: 600;
    font-size: 2.8vh;
    letter-spacing: 0.3rem;
    text-shadow: 1px 2px 5px black;
  }

  .footul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 2vh;
    line-height: 6vh;
  }

  .footli {
    font-size: 2.4vh;
    font-weight: 300;
    text-align: left;
  }

  a.Alink-foot:link,
  a.Alink-foot:visited {
    color: white;
    text-decoration: none;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0.1rem;
  }

  a.Alink-foot:hover,
  a.Alink-foot:active {
    color: white;
    font-style: oblique;
    font-weight: 300;
    letter-spacing: 0.1rem;
    text-shadow: 1px 2px 5px black;
  }

  a.Alink-emailnum:link,
  a.Alink-emailnum:visited {
    color: white;
    text-decoration: none;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0.1rem;
    font-size: 2.4vh;
    font-weight: 300;
    text-align: left;
  }

  a.Alink-emailnum:hover,
  a.Alink-emailnum:active {
    color: #ffc300;
    font-style: oblique;
    text-shadow: 1px 2px 5px #d62828;
  }

  .paraTeam8 {
    font-size: 2.4vh;
    font-weight: 300;
    text-align: left;
    color: white;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0.1rem;
  }

  .line-down {
    width: 50vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: auto;
    margin-top: 10vh;
  }

  .logo-text {
    width: 60vw;
    height: 30vh;
    margin: auto;
  }

  .wkhLogo {
    height: 100px;
    width: 40vw;
  }

  .copyright {
    display: flex;
    flex-direction: row;
    height: 5vh;
    margin-top: 5vh;
    margin: auto;
    order: 1;
    width: 70vw;
  }

  .copyrightIcon {
    width: 13px;
    height: 13px;
    display: inline;
    padding-top: 0vh;
  }

  .pRRtextbox {
    display: inline-block;
    height: 6vh;
    margin-left: 0vw;
    width: 60vw;
  }

  .rightsreservedtext {
    color: white;
    font-size: 1.7vh;
  }

  .socials {
    display: flex;
    flex-direction: row;
    height: 7vh;
    width: 40vw;
    justify-content: space-between;
    margin: auto;
    order: 0;
  }

  .fa-brands {
    width: 33px;
    height: 33px;
    color: white;
  }
}
