* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Dongle", "Chicle", "Gaegu", "Arial", "sans-serif";
}

.background {
  background-image: url("Images/image\ 7.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: 30%;
  background-position-y: 45%;
  background-size: 100%;
  background-origin: padding-box;
  height: 100vh;
  z-index: 0;
  padding-top: 12vh;
  object-fit: cover;
  object-position: 100% 100%;
}

.form-wrap {
  background-color: white;
  max-width: 500px;
  height: 77vh;
  z-index: 1;
  margin-left: 30vw;
  border-radius: 1rem;
}

.logoBox {
  margin-left: 15.5vw;
  padding-top: 5vh;
  padding-bottom: 2vh;
}

.logo {
  width: 8vw;
  height: 10vh;
}

h2 {
  color: black;
  font-size: 7vh;
  font-family: "Dongle", sans-serif;
  font-weight: 600;
  font-style: oblique;
  text-align: center;
}

.para {
  width: 26vw;
  margin: auto;
}

p {
  font-family: "Dongle", sans-serif;
  color: black;
  font-size: 4vh;
  font-weight: 400;
  font-style: normal;
  padding-bottom: 1vh;
  letter-spacing: 0.3vw;
  text-align: center;
  line-height: 3.5vh;
  margin-top: 1.5vh;
  margin-bottom: 2vh;
}

.emailLabel {
  color: black;
  font-size: 4.5vh;
  font-family: "Dongle", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding-bottom: 3vh;
  padding-right: 2vw;
  margin-left: 7.2vw;
}

#email {
  width: 25vw;
  height: 7vh;
  display: flex;
  background-color: white;
  margin: auto;
  border-radius: 6px;
  border: 0.1rem solid black;
  padding-left: 1.2vw;
  font-family: "Dongle", sans-serif;
  font-size: 4vh;
  color: lightgray;
}

.submitButton {
  background-color: lightgray;
  color: black;
  text-decoration: none;
  display: inline-block;
  font-size: 5vh;
  font-family: "Dongle", sans-serif;
  font-weight: 400;
  font-style: normal;
  border-radius: 1rem;
  width: 25vw;
  height: 8vh;
  border: none;
  text-align: center;
  margin-left: 7.1vw;
  margin-top: 3.7vh;
}
